<%provide(:title,'ALL QUESTIONS')%>
<h1>All Questions</h1>
<ul class="users">
	<%@questions.each do |question|%>
 <li >
      <span class="user"><%= link_to question.name, question %></span>

      <span class="content"><%= question.content %></span>
	</li>
	<% end %>
</ul>

<%= link_to 'New Question', new_question_path %>


