<%provide(:title,'ALL TOPIC')%>
<h1>All Topic</h1>
<ul class="users">
	<%@topics.each do |topic|%>
	
	<li>
	
	   <%=link_to topic.name,topic%>
	  
	</li>
	<% end %>
</ul>




<H2>You interesting topic count is  <%= @current_user.topics.count%></H2>
     <% @current_user.topics.each do |topic| %>
	 <ul class="users">
	  <li> <%=link_to topic.name,topic%><li>
	  	 
</ul>


 <% end -%>
 

<%= link_to 'New Topic', new_topic_path %>

