<%provide(:title,'ALL TOPIC')%>
<h1>All Topic</h1>
<ul class="users">
	<%@topics.each do |topic|%>
	
	<li>
	
	   <%=link_to topic.name,topic%>
	  
	</li>
	<% end %>
</ul>

<%= link_to 'New Topic', new_topic_path %>

