<%provide(:title,'ALL TOPIC')%>
<h1>All Topic</h1>
<ul class="users">
	<%@topics.each do |user|%>
	<li>
	
	   <%=link_to user.name,user%>
	</li>
	<% end %>
</ul>

<%= link_to 'New Topic', new_topic_path %>


